<!DOCTYPE html>
<html lang="en">
<head>
    <title>St. Bakhita Mass Booking</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
 	<link rel="stylesheet" href="{{ url_for('.static', filename='css/forms.css') }}">
</head>
<body>
    <div class="jumbotron">
        <h1>Mass Bookings<br>
            <small>St. Bakhita Catholic Church</small>
        </h1>
    </div>
    <div class="container">
    	<h2>You are booked for the {{ mass }}</h2>
    	{# a comment #}
    </div>
</body>
</html>