<!DOCTYPE html>
<html lang="en">
<head>
    <title>St. Bakhita Mass Booking</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
 	<link rel="stylesheet" href="{{ url_for('.static', filename='css/forms.css') }}">
</head>
<body>
	<div class="jumbotron">
    	<h1>Mass Bookings<br>
    		<small>St. Bakhita Catholic Church</small>
    	</h1>
	</div>
	<div class="container">	
	    <form method="POST" action="{{ url_for('.checkin') }}">
	        {{ form.csrf_token }}
	        {{ form.number.label }} {{ form.number(size=10) }}
	        <input class="btn btn-info" type="submit" value="Check in">
	    </form>

	    {# a comment #}
	</div>
</body>
</html>