<!DOCTYPE html>
<html lang="en">
<head>
    <title>St. Bakhita Mass Booking</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
 	<link rel="stylesheet" href="{{ url_for('.static', filename='css/forms.css') }}">
</head>
<body>
	<div class="jumbotron">
    	<h1>Mass Bookings<br>
    		<small>St. Bakhita Catholic Church</small>
    	</h1>
	</div>
	<div class="container">	
	    <form method="POST" action="{{ url_for('.checkin') }}">
	    	<h2>Enter Your Phone Number</h2>
			{{ form.csrf_token }}
			<div class="form-field">
                {{ form.number(class="form-control", placeholder=form.number.label.text) }}
                {% if form.number.errors %}
                    <ul class="errors">
                        {% for error in form.number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
	        <input class="btn btn-info" type="submit" value="Continue">
	    </form>

	    {# a comment #}
	</div>
</body>
</html>