<!DOCTYPE html>
<html lang="en">
<head>
    <title>St. Bakhita Mass Booking</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
 	<link rel="stylesheet" href="{{ url_for('.static', filename='css/forms.css') }}">
</head>
<body>
    <div class="jumbotron">
        <h1>Mass Bookings<br>
            <small>St. Bakhita Catholic Church</small>
        </h1>
    </div>
    <div class="container">
        <form method="POST" >
            {{ form.csrf_token }}
            <h2>Booking Form</h2>
            <div class="form-field">
                {{ form.number(class="form-control", placeholder=form.number.label.text) }}
                {% if form.number.errors %}
                    <ul class="errors">
                        {% for error in form.number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.l_name(class="form-control", placeholder=form.l_name.label.text) }}
                {% if form.l_name.errors %}
                    <ul class="errors">
                        {% for error in form.l_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.f_name(class="form-control", placeholder=form.f_name.label.text) }}
                {% if form.f_name.errors %}
                    <ul class="errors">
                        {% for error in form.f_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.o_name(class="form-control", placeholder=form.o_name.label.text)  }}
                {% if form.o_name.errors %}
                    <ul class="errors">
                        {% for error in form.o_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.dob(class="form-control", placeholder=form.dob.label.text) }}
                {% if form.dob.errors %}
                    <ul class="errors">
                        {% for error in form.dob.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.age(class="form-control", placeholder=form.age.label.text)  }}
                {% if form.age.errors %}
                    <ul class="errors">
                        {% for error in form.age.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                <p>Select Your Gender</p>
                {% for gender in form.gender %}
                    <tr>
                        <td>{{ gender }}</td>
                        <td>{{ gender.label }}</td>
                    </tr>
                    <br>
                {% endfor %}
                {% if form.gender.errors %}
                    <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.address(class="form-control", placeholder=form.address.label.text)  }}
                {% if form.address.errors %}
                    <ul class="errors">
                        {% for error in form.address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.emergency(class="form-control", placeholder=form.emergency.label.text)  }}
                {% if form.emergency.errors %}
                    <ul class="errors">
                        {% for error in form.emergency.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                <p>Pick Your Day Group</p>
                {% for day in form.day_group %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>{{ day.label }}</td>
                    </tr>
                    <br>
                {% endfor %}
                {% if form.day_group.errors %}
                    <ul class="errors">
                        {% for error in form.day_group.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <input class="btn btn-info" type="submit" value="Continue">
        </form>

        {# a comment #}
    </div>
</body>
</html>